@media all and (min-width: 1000px) {
	/*filtre version desktop*/
	.filtre-container {
		flex-wrap: wrap;
		flex-direction: row;
	}
	.recherche-filtre {
		max-width: 200px;
	}
	.filtre-container {
		flex-direction: row;
	}
	.card-container {
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
	}
}
@media all and (min-width: 1550px) {
	/*filtre version desktop*/
	.card-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 30px;
	}
}
