.logo {
	width: 100%;
	height: auto;
	max-width: 200px;
	text-align: center;
	margin-top: 20px;
}

/*bare de recherche principal*/
.search-bar {
	background-color: #e7e7e7;
	margin-top: 10px;
	height: 50px;
	border: none;
}
.search-bar:focus {
	background-color: #e7e7e7;
	border: none;
}
.search-bar::placeholder {
	color: #c7bebe;
}
.input-box {
	position: relative;
}
.input-box::-webkit-search-cancel-button {
	display: none;
}
.input-box i {
	position: absolute;
	right: 13px;
	top: 10px;
	color: black;
}
/*filtre*/

.filtre-container {
	display: flex;
	flex-direction: column;
}
.tag-select {
	display: flex;
	margin-bottom: 20px;
}
.tag-select-ingredients {
	background-color: #3282f7;
}
.tag-select-appareil {
	background-color: #68d9a4;
}
.tag-select-ustensiles {
	background-color: #ed6454;
}
.tag-container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
	justify-content: start;
	gap: 10px;
}
.tag-select {
	color: white;
	border-radius: 5px;
	align-items: center;
	padding: 5px 5px;
	display: flex;
	gap: 10px;
}
.tag-select i {
	cursor: pointer;
}

.recherche-filtre {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-inline: 20px;
	width: 100%;
	height: 70px;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	margin-right: 20px;
	margin-bottom: 10px;
	color: white;
}
.recherche-filtre::after {
	display: none;
}
.recherche-filtre input {
	width: 100%;
	height: 100%;
	font-size: 18px;
	border: none;
	color: white;
	opacity: 1;
}
.recherche-filtre input::placeholder,
.recherche-filtre input:focus-visible {
	color: white;
	outline: none;
	opacity: 1;
}
.recherche-filtre i {
	cursor: pointer;
}
.recherche-filtre input::-webkit-search-cancel-button {
	display: none;
}

.recherche-ingredients {
	background-color: #3282f7;
}
.recherche-ingredients input {
	background-color: #3282f7;
}

.recherche-appareil {
	background-color: #68d9a4;
}
.recherche-appareil input {
	background-color: #68d9a4;
}

.recherche-ustensiles {
	background-color: #ed6454;
}
.recherche-ustensiles input {
	background-color: #ed6454;
}

.liste {
	position: absolute;
	top: 65px;
	left: 0;
	width: 100%;
	column-width: 170px;
	padding-bottom: 1rem;
	color: white;
	border-radius: 0 0 5px 5px;
	display: none;
	z-index: 100;
}
.liste__element {
	font-family: "lato", sans-serif;
	font-weight: 400;
	font-size: 1.125rem;
	padding-inline: 20px;
	margin-bottom: 1rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
}
.liste p {
	padding-left: 20px;
}
.liste-element {
	font-weight: 400;
	font-size: 1.125rem;
	padding-inline: 20px;
	margin-bottom: 1rem;
	cursor: pointer;
}

.liste-ingredients {
	background-color: #3282f7;
}
.liste-ingredients li:hover {
	background-color: #0966ed;
}

.liste-appareil {
	background-color: #68d9a4;
}
.liste-appareil li:hover {
	background-color: #3fcf8b;
}

.liste-ustensiles {
	background-color: #ed6454;
}
.liste-ustensiles li:hover {
	background-color: #e83a26;
}
/*carte*/
.card-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
}

.card {
	width: 450px;
	height: 100%;
	align-self: center;
}
.card-body {
	display: flex;
	flex-direction: column;
	background-color: #e7e7e7;
}
.card-header-container {
	display: flex;
	justify-content: space-between;
	height: 50px;
}
.card-title {
	font-size: 18px;
	width: 100%;
}
.card-time {
	display: flex;
	flex-wrap: nowrap;
	white-space: nowrap;
	gap: 5px;
	align-items: baseline;
	font-size: 18px;
	font-weight: bold;
	width: 30%;
}
.card-texte-container {
	display: flex;
	height: 180px;
}
.card-description {
	height: 100%;
	overflow: hidden;
	width: 100%;
}
.list {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.list-item {
	width: 100%;
}
.card-texte-container p,
.list {
	font-size: 12px;
}
.list-item-container {
	height: 20px;
	width: 90%;
}

.list-item-tittle {
	display: flex;
	flex-direction: row;
	gap: 3px;
	font-weight: bold;
}
.list-item-texte {
	font-weight: initial;
}
